:root{
  background-color: #fff;
}
body {
  margin: 0;
}

div .main-div{
  width: 100vw;
  height: 100vh;
  display: flex;
  background: var(--background-color);
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
  justify-content: space-between;
}

div .main-div .secondary-div-one{
  width: 50%;
  height: auto;
}

div .main-div .secondary-div-two{
  background-color: red;
  width: 50%;
  height: auto;
}
